<h1>Todo for <%= @todo_list.name %></h1>
<ul>
  <% @todo_items.each do |item| %>
    <%= tag :li, :class => (item.done? ? 'done' : 'not_done') do %>
      <%= link_to item.name, resource(@user, @todo_list, item) %>
    <% end =%>
  <% end %>
  <li class='action'> <%= link_to "new todo", resource(@user, @todo_list, :todo_items, :new) %> </li>
</ul>