body {
  font-family: Arial, Verdana, sans-serif;
  font-size: 12px;
  background-color: #fff;
}
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
html {
  height: 100%;
  margin-bottom: 1px;
}
#container {
  width: 80%;
  text-align: left;
  margin-right: auto;
  margin-left: auto;
}
#header-container {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 30px;
}

#breadcrumb{
  float: right;
}
#breadcrumb a{
  color: #600;
  background: #fee;
}

#left-container {
  float: left;
  width: 196px;
  min-height: 400px;
  margin-top: 32px;
}
#left-container dt{
  font-weight: bold;
  padding-top: 5px;
}

#main-container {
  margin-left: 16px;
  min-height: 400px;
  float: left;
}
#main-container h1{
  line-height: 32px;
  font-size: 30px;
}
p, ul {
  color: #000;
  line-height: 1.3em;
  padding: 5px 0px;
}

p.note {
  font-style: oblique;
  line-height: inherit;
}

.delete-btn, .link_form{
  display: inline;
}

.action{
  font-weight: bold;
}
.done a{
  text-decoration: line-through;
}

.link {
  border: none;
  cursor: pointer;
  font-size: 12px;
  display: inline;
  padding: 0px;
  margin: 0px;
}

a, .link {
  color: #C33;
  background: #fff;
  text-decoration: none;
}
a:hover, .link:hover {
  color: #C33;
  text-decoration: underline;
}

#footer-container {
  clear: both;
  font-size: 12px;
  font-family: Verdana, Arial, sans-serif;
}

#main-container ul {
  list-style-position: inside;
}