<h4>Show</h4>
<p>
Shows a single resource.
</p>
<dl>
  <dt>GET</dt>
  <dd>Gets all the specified resource</dd>
  <dt>POST</dt>
  <dd>Updates the specified resource</dd>
  <dt>DELETE</dt>
  <dd>Destroys the specified resource</dd>
  <dt>Formats</dt>
  <dd><%= self.class.provides.join(', ') %></dd>
</dl>