<h4>Edit</h4>
<p>
Displays information about editing an existing resource
in this scope.
</p>
<dl>
  <dt>GET</dt>
  <dd>Gets information required to update this resource</dd>
  <dt>Formats</dt>
  <dd><%= self.class.provides.join(', ') %>*</dd>
</dl>
<p class='note'>
  * Note: at the moment, html is only really supported here.
</p>